<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576082326979-9kgm211i2s4r0t9rsej8rn1jvv8s7h0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576082326979-9kgm211i2s4r0t9rsej8rn1jvv8s7h0g</string>
	<key>API_KEY</key>
	<string>AIzaSyA_nnevicUU2hQ85UhZrMxmPcitvlkbwfU</string>
	<key>GCM_SENDER_ID</key>
	<string>576082326979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trabtest.fcm</string>
	<key>PROJECT_ID</key>
	<string>fcm-trab-test</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-trab-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:576082326979:ios:f48dd62d0c4d3b2336b976</string>
</dict>
</plist>
